
<div class="card-trip">
  <%= cl_image_tag list.photo.key, height: 200 , width: 300, crop: :pad %>
  <hr>
  <div class="card-trip-infos">
    <div>
      <h2><%= list.name %></h2>
    </div>
  </div>
</div>
