<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1 class="py-2">Bookmarks</h1>

  <%= link_to "New bookmark", new_bookmark_path, class: "btn btn-primary" %>
  <hr>

  <div id="bookmarks">
    <% @bookmarks.each do |bookmark| %>
      <%= render bookmark %>
      <p>
        <%= link_to "Show this bookmark", bookmark, class: "btn btn-primary my-3 w-100" %>
      </p>
      <hr>
    <% end %>
  </div>
</div>
