<div class="card-trip">
  <img src="https://image.tmdb.org/t/p/original/<%= movie.poster_url %> " />
  <hr>
  <div class="card-trip-infos">
    <div>
      <h2><%= movie.title %></h2>
      <p><%= movie.overview %></p>
    </div>
    <h2 class="card-trip-pricing"><%= movie.rating %></h2>
  </div>
</div>
