<%= render "shared/banner" %>
<br>
<div class="container">
  <d class="text-center">
    <div>
      <%= link_to "Add a movie", new_movie_path, class: "btn btn-ghost" %>
    </div>
    <div>
      <%= link_to "Add a new list", new_list_path, class: "btn btn-ghost" %>
    </div>
    <div>
      <%= link_to "Add a bookmark item", new_bookmark_path, class: "btn btn-ghost" %>
    </div>
  </div>
</div>
