<div class="container">

  <p style="color: green"><%= notice %></p>

  <h1 class="py-2">Movies</h1>

  <%= link_to "New movie", new_movie_path, class: "btn btn-primary" %>
  <hr>

  <div id="movies">
    <% @movies.each do |movie| %>

      <%= render movie %>
      <div class="justify-center text-align-center mx-auto">
        <br>
        <%= link_to "Show this movie", movie, class: "btn btn-primary justify-center text-align-center mx-auto w-100 py-2" %>
      </div>
      <hr>
    <% end %>
  </div>
</div>
