<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.adsttc.com/media/images/58d5/3a58/e58e/ce48/a700/003f/large_jpg/002.jpg?1490369108);">
  <div class="container">
    <h1 class="text-center text-white" style="text-shadow: 5px 5px #000000;" >Welcome to MyMovies.com</h1>
    <p  class="text-center text-white" style="text-shadow: 5px 5px #000000;" >Discover <strong>your</strong> favourite movies</p>
  </div>
</div>
