.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 70px;
  background-color: rgba(255,255,255,1);
}

.logo-background {
  background-color: white !important;
  border-radius: 50%;
}
